/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: auto;
}

/* Header */
h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #555;
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Question Section */
.question {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
}

.options {
  list-style-type: none;
  padding-left: 0;
}

.option {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #e1e1e1;
}

.selected {
  background-color: #b3e5fc;
}

.correct {
  background-color: #c8e6c9;
}

.incorrect {
  background-color: #ffccbc;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  background-color: #00796b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

button:hover {
  background-color: #004d40;
}

button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}

/* Score Section */
.score {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between
}

input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1.2em;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 1em;
  color: #555;
}
.quizP1{
  text-align: center;
  margin: 10px 0px;
}
.quizP2{
  font-weight: 800;
  margin: 10px 0px;
}


/* Stili per l'input con i pulsanti "+" e "-" */
input[type="number"] {
  padding: 10px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1.2em;
  margin: 0  10px ;
  appearance: none; /* Rimuove la freccia predefinita nei browser */
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Contenitore per l'input e i pulsanti + e - */
.input-group {
  display: flex;
  align-items: center;
  
}

/* Pulsanti + e - */
.button-small {
  background-color: #00796b;
  color: white;
  border: none;
  margin: 0;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 35px;
  
}

.button-small:hover {
  background-color: #004d40;
}

/* Pulsante disabilitato */
.button-small:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}
@media (max-width: 1030px) {
  /* Limita l'altezza del form su dispositivi mobili */
  form {
    max-height: 70vh; /* Imposta l'altezza massima del form */
    overflow-y: auto; /* Aggiungi scroll se il contenuto è troppo lungo */
  }

  /* Stile dei bottoni per i dispositivi mobili */
  .button-small {
    padding: 8px 12px;
    font-size: 1.1em;
  }

  button[type="button"] {
    padding: 12px 20px;
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  /* Limita l'altezza del form su dispositivi mobili */
  form {
    max-height: 70vh; /* Imposta l'altezza massima del form */
    overflow-y: auto; /* Aggiungi scroll se il contenuto è troppo lungo */
  }

  /* Stile dei bottoni per i dispositivi mobili */
  .button-small {
    padding: 8px 12px;
    font-size: 1.1em;
  }

  button[type="button"] {
    padding: 12px 20px;
    font-size: 1.2em;
  }
}